################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/.vs/EcommerceSolution/CopilotIndices/17.12.53.23981
/Backend/.vs/EcommerceSolution/DesignTimeBuild
